@import './globals.css';

body {
  min-width: 320px;
  background: #100c08;
  font-family: "Libre Baskerville", Georgia, serif;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

#root {
  min-height: 100svh;
}

